body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  max-width: 1200px;
}

a {
  text-decoration: none;
}

nav,
footer,
.hero {
  background-color: #1f2937;
  color: #efe7eb;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 92px;
}

h1,
h2,
h3 {
  font-weight: 900;
  margin: 0;
}

nav .logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 900;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 16px;
}

.hero {
  display: flex;
  padding: 92px;
  gap: 24px;
}

.hero-image {
  background-color: #6d747d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero div {
  flex: 1;
}

.hero h1 {
  font-size: 48px;
  color: #f9faf8;
}
.hero p,
nav a {
  font-size: 18px;
  color: #e5e7eb;
}

.hero button {
  background-color: #3882f6;
  padding: 8px 32px;
  border: none;
  border-radius: 6px;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
}

.info {
  padding-top: 24px;
  padding-bottom: 48px;
}

.info h2 {
  font-size: 36px;
  color: #1f2937;
  text-align: center;
  margin: 48px;
}

.info-cards {
  display: flex;
  justify-content: center;
  gap: 32px;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 150px;
}
.card-image {
  width: 150px;
  height: 150px;
  border-style: solid;
  border-radius: 16px;
  border-color: #3882f6;
}

.quote-section {
  background-color: #e5e7eb;
  padding: 92px;
}

.quote {
  max-width: 800px;
  margin: 0 auto;
}

.quote-text {
  color: #1f2937;
  margin: 0 auto;
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
}
.quote-author {
  font-weight: 700;
  font-size: 24px;
  text-align: right;
}

.cta-section {
  padding: 92px 0;
}

.cta {
  background-color: #3882f6;
  border-radius: 8px;
  color: #fff;
  padding: 48px 92px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 700px;
  margin: 0 auto;
}

.cta p {
  margin: 0;
}

.cta a {
  border-color: #fff;
  border-radius: 4px;
  border-style: solid;
  border-width: 2px;
  padding: 4px 32px;
  background-color: transparent;
  color: #fff;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
}
